@import url("style/header.css");
@import url("style/banner.css");
@import url("style/footer.css");
:root{
    ---cor-fundo: #EBECEE;
    ---branco: #FFFFFF;
    ---laranja:#EB9B00;
    ---fonte-principal:"Poppins";
    ---fonte-secundária:"Josefin Sans";

}
body{
    background-color: var(---cor-fundo);
    font-family: var(---fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

